{% extends "base.html" %}

{% block title %}
  {{ title }}
{% endblock title %}

{% block contents %}
  <div class="container">
    <div class="row mt-3 mb-2">
      <h1 class="col text-center">
        {{ title }}
      </h1>
    </div>
    <div class="row m-1 mt-4">
      <div class="">
        <div class="">
          <ul>
            <li>
              دانلود آنی، پس از پرداخت
            </li>
            <li>
              امکان دانلود محصولات خریداری شده تا ۲۴ ساعت
            </li>
            <li>
              بازگشت وجه در صورت خطا در عملیات خرید
            </li>
            <li>
              پشتیبانی ۲۴ ساعته
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <a class="btn btn-primary btn-block w-100" href="{{ oauth_redirect }}">مشاهده دموی محصول</a>
      </div>
    </div>
  </div>
{% endblock contents %}
